# Auto detect text files and perform LF normalization
* text=auto

# Ensure PowerShell scripts always use CRLF on checkout
*.ps1 text eol=crlf

# Ensure shell scripts always use LF on checkout
*.sh text eol=lf
